<h1>Login</h1>
<form style="display: flex; flex-direction: column" method="POST" action="/auth/login">
  <label>Username: <input type="text" name="username" /></label>
  <label>Password: <input type="password" name="password" required /></label>
  <button type="submit">LogIn</button>
</form>
